* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: linear-gradient(to bottom, #56042c 60%, black 100%);
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}

#navbar {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  color: white;
  background: linear-gradient(to top, #dd6119 60%, rgb(212, 145, 19) 100%);
}

#navbar div {
  color: #ffffff;
  font-size: 24px;
}
#nav-links {
  display: flex;
  list-style: none;
}

#nav-links li a {
  color: white;
  text-decoration: none;
  padding: 7px 40px;
  font-size: 20px;
}

#nav-links li a:hover {
  background-color: #e4ab57;
  border-radius: 50px;
}

#main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#main-container img {
  width: 700px;
  margin: 110px 0;
  border-radius: 30px;
  box-shadow: 20px 20px 14px black;
}

#main-container p {
  font-size: 24px;
  color: white;
  margin: 50px;
}

.estadios1 {
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 20px 20px 20px 20px;
  margin: 50px 50px 50px 50px;
}
.names {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.estadios1 img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 30px;
  box-shadow: 20px 20px 14px black;
  transition: 0.5s ease;
}

.estadios2 {
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 20px 20px 20px 20px;
  margin: 50px 50px 50px 50px;
}

.estadios2 img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 30px;
  box-shadow: 20px 20px 14px black;
  transition: 0.5s ease;
}

.names img:hover {
  box-shadow: 20px 20px 14px #daa127;
  transform: scale(1.1);
}

hr {
  justify-content: center;
  margin: auto 600px auto 600px;
}

h2 {
  font-size: 24px;
  color: #ffffff;
  padding: 50px;
  display: flex;
  justify-content: center;
}

#sede-container-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin: 50px;
}

#sede-container-1 img {
  width: 350px;
  border-radius: 30px;
  box-shadow: 20px 20px 14px black;
  transition: 0.5s ease;
}

#sede-container-1 img:hover {
  box-shadow: 20px 20px 14px #daa127;
  transform: scale(1.1);
}

#sede-container-1 p {
  color: #ffffff;
  font-size: 20px;
  padding: 60px;
}

#sede-container-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin: 50px;
}

#sede-container-2 img {
  width: 350px;
  border-radius: 30px;
  box-shadow: 20px 20px 14px black;
  transition: 0.5s ease;
}

#sede-container-2 img:hover {
  box-shadow: 20px 20px 14px #daa127;
  transform: scale(1.1);
}

#sede-container-2 p {
  color: #ffffff;
  font-size: 20px;
  padding: 60px;
}

#grupos-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  gap: 30px;
  margin: 50px;
  justify-content: center;
}

#grupos-container img {
  width: 350px;
  border-radius: 30px;
  transition: 0.5s ease;
}

#grupos-container img:hover {
  transform: scale(1.1);
}

#info-grupos {
  font-size: 16px;
  color: white;
  padding: 30px 100px;
  text-align: center;
}

#fases-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#fases-container img {
  width: 800px;
  margin: 50px 0;
  border-radius: 30px;
  box-shadow: 20px 20px 14px black;
  transition: 0.5s ease;
}

#fases-container img:hover {
  transform: scale(1.1);
}

#fases-container p {
  color: white;
  padding: 7px 40px;
  font-size: 16px;
  text-align: justify;
  margin: 0 100px;
}

#campeon-container img {
  width: 700px;
  margin: 50px 0;
  border-radius: 30px;
  box-shadow: 20px 20px 14px black;
  transition: 0.5s ease;
}

#campeon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#campeon-container img:hover {
  transform: scale(1.1);
}

#campeon-container p {
  font-size: 16px;
  color: white;
  text-align: center;
}

.burbuja-arriba {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #dd6119;
  color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  text-decoration: none;
  font-size: 24px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  z-index: 1000;
}

h3 {
  text-align: center;
  color: white;
  font-size: 20px;
}

footer {
  display: flex;
  justify-content: center;
  padding: 45px 0;
  color: white;
  font-size: 20px;
}

footer a {
  color: #dd6119;
  text-decoration: none;
}

@media (max-width: 480px) {
  header {
    display: none;
  }
  #main-container {
    display: flex;
    flex-direction: column;
  }

  #main-container img {
    width: 50vh;
    margin: 40px 0;
  }

  #main-container p {
    font-size: 12px;
    text-align: justify;
  }

  h2 {
    font-size: 20px;
    padding: 25px 0;
    border-bottom: solid #dd6119;
  }

  h3 {
    font-size: 16px;
    padding: 20px 0;
  }

  #sede-container-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #sede-container-1 img {
    width: 40vh;
  }

  #sede-container-1 p {
    font-size: 12px;
    text-align: justify;
  }

  #sede-container-2 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  #sede-container-2 img {
    width: 40vh;
  }
  #sede-container-2 p {
    font-size: 12px;
    text-align: justify;
  }

  .estadios1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .estadios1 img {
    width: 45vh;
    height: 150px;
  }

  .estadios2 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .estadios2 img {
    width: 45vh;
    height: 150px;
  }

  #grupos-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #grupos-container img {
    width: 40vh;
  }

  #grupos-container p {
    font-family: 12px;
    text-align: justify;
  }

  #info-grupos {
    font-size: 12px;
    text-align: justify;
  }

  #fases-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #fases-container img {
    width: 40vh;
  }

  #fases-container p {
    font-size: 12px;
    text-align: justify;
    margin: 0 45px;
  }

  #campeon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #campeon-container img {
    width: 40vh;
  }

  #campeon-container p {
    font-size: 12px;
    margin: 0px 45px;
    text-align: center;
  }
}

@media (min-width: 480px, max-width: 768px) {
  header {
    display: none;
  }
  #main-container {
    display: flex;
    flex-direction: column;
  }

  #main-container img {
    width: 70vh;
    margin: 40px 0;
  }

  #main-container p {
    font-size: 16px;
    text-align: center;
  }

  h2 {
    font-size: 20px;
    padding: 25px 0;
    border-bottom: solid #dd6119;
  }

  h3 {
    font-size: 16px;
    padding: 20px 0;
  }

  #sede-container-1 img {
    width: 45vh;
  }

  #sede-container-1 p {
    font-size: 16px;
    text-align: justify;
  }

  #sede-container-2 img {
    width: 45vh;
  }
  #sede-container-2 p {
    font-size: 16px;
    text-align: justify;
  }

  .estadios1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .estadios1 img {
    width: 70vh;
    height: 300px;
  }

  .estadios2 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .estadios2 img {
    width: 70vh;
    height: 300px;
  }

  #grupos-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin: 30px;
    justify-items: center;
    justify-content: center;
  }

  #grupos-container img {
    width: 45vh;
  }

  #grupos-container p {
    font-family: 16px;
    text-align: center;
  }

  #info-grupos {
    font-size: 16px;
    text-align: center;
  }

  #fases-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #fases-container img {
    width: 70vh;
  }

  #fases-container p {
    font-size: 16px;
    text-align: justify;
  }

  #campeon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #campeon-container img {
    width: 70vh;
  }

  #campeon-container p {
    font-size: 16px;
    margin: 0 60px;
    text-align: center;
  }
}
