* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: linear-gradient(to bottom, #56042c 60%, black 100%);
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}

#navbar {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  color: white;
}

#navbar div {
  color: #ffffff;
  font-size: 36px;
}
#nav-links {
  display: flex;
  list-style: none;
}

#nav-links li a {
  color: white;
  text-decoration: none;
  padding: 7px 40px;
  font-size: 28px;
}
#main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#main-container img {
  width: 800px;
  margin: 110px 0;
  border-radius: 30px;
  box-shadow: 20px 20px 14px black;
}

#main-container p {
    font-size: 28px;
    color: white;
}

.estadios1{
  display: flex;
  justify-content: space-between;
  background-color: violet;
  padding: 20px 20px 20px 20px;
  margin: 50px 50px 50px 50px;
}

.estadios1 img{
  padding: 10px 10px 10px 10px;
  margin: 5px 5px 5px 5px;
  width: 80%;
}


.estadios2{
  display: flex;
  justify-content: space-between;
  background-color: violet;
  padding: 20px 20px 20px 20px;
  margin: 50px 50px 50px 50px;
}

.estadios2 img{
  padding: 10px 10px 10px 10px;
  margin: 5px 5px 5px 5px;
  width: 80%;
}

  font-size: 28px;
  color: white;
  margin: 30px;
}

h2 {
  font-size: 32px;
  color: #ffffff;
  margin: 40px;
  display: flex;
  justify-content: center;
}

#sede-container-1 {
  display: flex;
}

#sede-container-1 img {
  width: 200px;
  border-radius: 15px;
}

#sede-container-2 {
  display: flex;
}

#sede-container-2 img {
  width: 200px;
  border-radius: 15px;
}
