<<<<<<<<< Temporary merge branch 1
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #0b0633;
  height: 100vh;
}

header {
    height: 50px;
    background-color: blueviolet;
}

#navbar {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  color: white;
}

#navbar div {
    color: #ffffff;
    font-size: 24px;
}
#nav-links {
  display: flex;
  list-style: none;
}

#nav-links li a {
  color: white;
  text-decoration: none;
  padding: 7px 40px;
  font-size: 16px;
}
#main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main-container img {
    width: 500px;
    margin: 30px 0 ;
}

#main-container p {
    font-size: 28px;
    color: white;
}